{%extends 'base.html'%}
{%load static%}
{%block content%}

<div class="container my-5">
    <div class="row p-4 align-items-center rounded-3  shadow-lg">
        <div class="col-lg-7 p-3">
            <h1 class="display-4 fw-bold lh-1">About Us</h1>
            <p class="lead">From Prashant Fentley, who founded Fentley Motors in 2022, to the current
                team of over 40 dedicated employees, the companys' extraordinary cars have always been
                designed and built by exceptional people using only the finest of materials. They have
                always been driven by exceptional people, too. From the passionate Fentley Boys and
                Girls who raced the cars in the 2022s, encouraging Prashant Fentley to achieve ever
                greater feats of engineering, to the visionary Bentley owners of today,
                Bentley drivers help to shape the world around them.
                As a brand we are also constantly looking forwards, our technological innovations
                and future vision for Bentley.
                The unique relationship between those who create the cars and those who drive
                them has helped create an enthralling story unlike any other.
                Explore the stories below to find out more.
            </p>
            <p class="lead">Location: Sydney, Australia</p>
            <p class="lead">Telephone: +65 69696969</p>


        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <img class="rounded-lg-3" src="{%static '/img/bently3.jpg'%}" alt="" width="100%">
        </div>
    </div>
    <div class="container mt-3">
        <h2 class="text-center p-4 display-4">Meet our team</h2>
        <div class="row">
            <div class="col-lg-4">
                <img src="{%static '/img/model.jpg'%}" alt="" class="img-thumbnail">
                <h2 class="fw-normal">Prashant Maharjan</h2>
                <p>Lead Designer</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="{%static '/img/model2.jpg'%}" alt="" class="img-thumbnail">


                <h2 class="fw-normal">Prashant Maharjan</h2>
                <p>Lead Designer</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="{%static '/img/model3.jpg'%}" alt="" class="img-thumbnail">

                <h2 class="fw-normal">Prashant Maharjan</h2>
                <p>Lead Designer</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
{%endblock%}