<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="./css/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Add car</div><!-- d -->
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Make</span>
                        <input type="text" placeholder="Make" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Model</span>
                        <input type="text" placeholder="Model" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Year</span>
                        <input type="text" placeholder="Year" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Mileage</span>
                        <input type="text" placeholder="Mileage" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Location</span>
                        <input type="text" placeholder="Location" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Price</span>
                        <input type="text" placeholder="Price" required>
                    </div>

                </div>
                <div class="button">
                    <button type="submit" value="Register">Add</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>