{%extends 'base.html'%}
{%load static%}
{%block content%}
<div id="main">
    <div class="intro">
        <h1>Fently</h1>
        <p>Welcome to Fently! In Fently, we believe in
            trasparent transactions and direct connection to customers. This is a hub to buy cars that
            you want at the most reasonable price
            Enjoy the freedom!
        </p>
    </div>
</div>

<div class="gallery">
    <div class="p1">
        <h1 class="text-center">Bently Continental GT</h1>
        <img src="{%static '/img/bently1.jpg'%}" alt="" height="500px" width="100%">
    </div>
    <div class="p2">
        <h1 class="text-center">Bently Flying Spur</h1>

        <img src="{%static '/img/bently2.jpg'%}" alt="" height="500px" width="100%">
    </div>
</div>
{%endblock%}